<h1>Blogs listing</h1>
<% @blogs.each do |post| %>
  <p>
		<%= link_to post.title, post %>
	</p>
	<p>
		<%= post.created_at.strftime("%B, %d, %Y") %>
	</p>
	<p>
		<%= post.description %>
	</p>
	<hr />
<% end %>